.index {
  // background: #fff;
  // display: inline-block;
  width: 100%;
  height: 100vh;
  position: relative;
  overflow: hidden;
  background: var(--kui-color-back);

  .header {
    background: none; //fadeout(@back, 50%);
    box-shadow: none;
    // backdrop-filter: blur(5px);
    border-bottom: 1px solid var(--kui-color-border);

    .top-menu {
      background: none;
      border: none;
    }
  }

  .index-content {
    margin: auto;

    h1 {
      // font-weight: 300;
      font-size: 34px;
      color: var(--kui-color-font);
      margin: 80px 0;
      text-align: center;
    }

    .btn-content {
      text-align: center;

      .k-btn {
        display: inline-block;
        width: 120px;
        margin-left: 35px;
        transition: all 0.3s;
        border-radius: 20px;
        cursor: pointer;
        // border: none;
      }

      .start {
        // background: #65b87f;
        background: linear-gradient(45deg, #65b87f, #008028);
        color: #fff;
        border: none;
      }
    }
  }


}

.footer {
  width: 100%;
  text-align: center;
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 35px 0;
  background-color: var(--kui-color-control-10);
  // color: #fff;
  margin-top: 80px;
  text-transform: uppercase;

  .beian {
    color: var(--kui-color-main);
    // color: #fff;
    margin: 0 20px 0 5px;
  }

  a {
    display: inline-flex;
    align-items: center;
  }

  img {
    height: 14px;
  }

  .author {
    color: var(--kui-color-main);
    text-transform: uppercase;
  }
}

.web-icon {
  display: flex;
  align-items: center;
}